$font-stack: "Helvetica"
$text-color: #ffffff
$text-color-secondary: #eb6262
$body-bg-color: #300202
$bg-color: #410c0c
$bg-color-secondary: #300202
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #630d0d 0%, #634505 100%)